.dark-theme {
  background-color: #212121;
  --card_background_color: var(--dark_grey);
  --card_copy_color: var(--light_grey);
  --card_job_title_color: var(--light_grey);
  --theme_controls_checked_label_background: var(--light_grey);
  --theme_controls_label_background: var(--dark_grey);
  --theme_controls_label_color: var(--light_grey);
  --theme_controls_ckecked_label_color: var(--dark_grey);
}
