.halo-theme {
  background-color: #838b64;
  --theme_radio_label_color: var(--light_grey);
  --card_background_color: #6c8d71;
  --card_copy_color: var(--light_grey);
  --card_job_title_color: var(--light_grey);
  --testimonials_heading_color: #99d21b;
  --theme_controls_label_background: #879250;
  --theme_controls_checked_label_background: #8ea72f;
}
