.container {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.theme-form {
  display: flex;
  font-family: var(--sans_serif_font_family);
}

.theme-radio-label {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

.testimonials-heading {
  text-align: var(--text-align);
}

.testimonials {
  display: flex;
  padding-left: 0;

  &__card {
    flex-basis: 244px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 28px;
    padding-bottom: 35px;

    &__image {
      border-radius: 50%;
      text-align: center;
      margin-bottom: 44px;
    }

    &__name {
      margin-top: 24px;
      margin-bottom: 0;
    }
  }

  &__card + &__card {
    margin-left: 48px;
  }
}
