.merica-theme {
  background-color: #0660a9;
  --card_backtround_color: #ffffff;
  --card_copy_color: var(--dark_grey);
  --card_job_title_color: var(--light-grey);
  --testimonials_heading_color: #ed1c23;
  --theme_controls_label_color: #ffffff;
  --theme_controls_label_background: #0d76bd;
  --theme_controls_checked_label_color: #ffffff;
}
